<h2 style="width:100%;text-align:center;padding:10px;font-family:Arial;font-weight:bold;text-decoration:underline;">@ViewBag.Titulo</h2>

<div id="divDadosAluno" style="font-family:Arial;font-size:13px;font-weight:bold;padding:10px;"><div id="divNomeAluno"></div><div id="divTurmaAluno"></div></div>
<table style="width:100%;padding:2px;font-family:Arial;font-size:13px;border:solid 1px;" cellspacing="0" cellpadding="0" border="0" id="tabela_detalhes">
    <thead>
        <tr>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:40%;" rowspan="2">MATÉRIA</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:10%;font-size:12px;" colspan="2">PROVA 1</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:10%;font-size:12px;" colspan="2">PROVA 2</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:10%;font-size:12px;" colspan="2">PROVA 3</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:10%;font-size:12px;" colspan="2">PROVA FINAL</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:20%;" rowspan="2">SITUAÇÃO</th>
        </tr>
        <tr>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:5%;font-size:12px;">PESO</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:5%;font-size:12px;">NOTA</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:5%;font-size:12px;">PESO</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:5%;font-size:12px;">NOTA</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:5%;font-size:12px;">PESO</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:5%;font-size:12px;">NOTA</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:5%;font-size:12px;">PESO</th>
            <th style="text-align:center;vertical-align:middle;height:10px;font-weight:bold;color:white;background-color:black;width:5%;font-size:12px;">NOTA</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>